.rgb-border-fade {
    border: 4px solid;
    animation: rgb-fade 10s linear infinite;
}

@keyframes rgb-fade {
    0%      { border-color: red; }
    10%     { border-color: orange; }
    30%     { border-color: yellow; }
    50%     { border-color: lime; }
    70%     { border-color: cyan; }
    90%     { border-color: magenta; }
    100%    { border-color: red; }
}