@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/*Configurações visuais padrões do site*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    word-wrap: break-word;
}


#corpo-principal {
    min-height: 100vh;
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 8, 17);
}


/*Tipografia*/

.goldman-bold {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.goldman-regular {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;   
}