/*Configurações visuais padrões do site*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    word-wrap: break-word;
}


.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}


#corpo-principal {
    min-height: 100vh;
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 8, 17);
}


@media screen and (max-width: 800px) {
    .bloco {
        width: 560px;
    }
}

@media screen and (max-width: 700px) {
    .bloco {
        width: 77%;
        padding: 0.5em;
    }
}

@media screen and (max-width: 450px) {
    .bloco {
        font-size: 70%;
    }
}