#menus {
    position: fixed;
    z-index: 1;
    top: 9%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

#menu-left, #menu-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 88%;
    width: 7%;
    transition: width 0.4s;
    pointer-events: auto;
    box-shadow: 0px 0px 25px black;
}

#menu-left {
    border-left: 0;
    border-radius: 0 40px 40px 0;
}

#menu-right {
    border-right: 0;
    border-radius: 40px 0 0 40px;
}


.opcao-lateral {
    display: block;
    height: 10%;
    width: 90%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
}

.icon-menu-ltrl {
    max-width: 64px;
}

.texto-opc-lateral {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    transition: width 0.4s;
    text-align: center;
}


#menu-left:hover, #menu-right:hover{
    width: 25%;
}

#menu-left:hover .opcao-lateral .texto-opc-lateral, #menu-right:hover .opcao-lateral .texto-opc-lateral {
    width: 100%;
}

.opcao-lateral:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 600px) {
    .texto-opc-lateral {
        display: none;
    }
}