/*estilos para os posts dos usuários*/

/*Bloco de shitpost*/

.bloco-shitpost {
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 15px;
}

.principal-shitpost {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1.5em;
}

.painel-interacao-shitpost {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-evenly;
}


/*descrição do autor do pot (foto de perfil, nome de usuário, data do post)*/

.autor {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.foto-perfil {
    width: 45px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100px;
}

.info-autor {
    word-break: break-all;
    font-size: 80%;
}

.topo-shitpost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
}


/*Imagens do post*/

.conjunto-imagens-shitpost {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
}

.imagem-shitpost {
    max-width: 100%;
    max-height: 60vh;
}


/*três pontinhos*/

.tres-pontinhos {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    width: 40px;
}

.tres-pontinhos-ponto {
    width: 5px;
    height: 5px;
    background: white;
}


/*botao gostei*/

.botao-gostei, .botao-naogostei, .botao-comentarios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    gap: 0.5em;
}

.icone-gostei, .icone-naogostei, .icone-comentarios {
    width: 40px;
}



@media screen and (max-width: 800px) {
    .bloco-shitpost {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    .topo-shitpost {
        grid-row: 1 / 2;
    }

    .painel-interacao-shitpost {
        grid-row: 3 / 4;
        flex-direction: row;
    }

    .icone-gostei, .icone-naogostei, .icone-comentarios {
        width: 30px;
    }
}

@media screen and (max-width: 600px) {
    .foto-perfil {
        width: 28px;
    }
}

@media screen and (max-width: 550px) {
    .tres-pontinhos {
        gap: 3px;
    }

    .tres-pontinhos-ponto {
        width: 3px;
        height: 3px;
    }
}