/*estilos para os posts dos usuários*/

/*descrição do autor do pot (foto de perfil, nome de usuário, data do post)*/

.autor {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.foto-perfil {
    width: 45px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100px;
}

.info-autor {
    word-break: break-all;
    font-size: 80%;
}


/*Imagens do post*/

.conjunto-imagens-shitpost {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
}

.imagem-shitpost {
    max-width: 100%;
    max-height: 60vh;
}

@media screen and (max-width: 600px) {
    .foto-perfil {
        width: 28px;
    }
}