.bloco {
    min-height: 40vh;
    height: min-content;
    width: calc(68vw + 2em);
    overflow: hidden;
    word-wrap: break-word;
    padding: 1em;
    color: white;
    border: 3px solid rgb(35, 35, 43);
    background: #060124;
    scroll-margin-top: 15vh;
}


@media screen and (max-width: 800px) {
    .bloco {
        width: 95vw;
    }
}
