.bloco-ajuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.titulo-ajuda {
    padding-top: 0.5em;
}


#pesquisa-ajuda {
    width: 70%;
    max-width: 812px;
    height: 35px;
    border-radius: 6px;
    border: solid 2px gray;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.281);
    gap: 0.7em;
}

#pesquisa-ajuda:hover {
    border-color: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.233);
}

#botao-pesquisa-ajuda {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 4px 0px 0px 4px;
}

#barra-pesquisa-ajuda {
    color: white;
    width: 95%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
}


#bloco-opcoes-links {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.bloco-opcao-ajuda {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    transition: transform 0.1s;
}

.bloco-opcao-ajuda:hover {
    transform: scale(1.004)
}

.conteudo-opcao-ajuda {
    color: rgba(255, 255, 255, 0.555);
}

.link-titulo-opcao-ajuda {
    color: white;
    text-decoration: none;
    width: max-content;
}

.link-titulo-opcao-ajuda:hover {
    text-decoration: underline;
}


#links-ajuda {
    padding: 1em;
}

#links-ajuda ul {
    padding: 0.5em 0;
}

#links-ajuda ul li {
    scale: 0.8;
}


.bloco-solucao {
    display: flex;
    flex-direction: column;
}

#titulo-solucao {
    padding: 1.5em 0.5em;
}

#conteudo-solucao {
    width: 95%;
    word-wrap: break-word;
    text-indent: 20px;
    align-self: center;
}

#bloco-imagens-solucao {
    padding: 3em 0;
    display: flex;
    flex-wrap:wrap;
    gap: 1em;
}

#bloco-imagens-solucao img {
    border-radius: 10px;
}

#botao-voltar-solucao {
    color: rgb(230, 230, 230);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.267), rgba(138, 137, 137, 0.267), rgba(255, 255, 255, 0.267));
    text-decoration: none;
    padding: 0.7em 1.3em;
    width: max-content;
    margin-top: 5em;
    border-radius: 5px;
    border: solid 2px rgb(104, 104, 104);
}

#botao-voltar-solucao:hover {
    background: rgba(238, 238, 238, 0.384);
}


@media screen and (max-width: 380px) {
    #pesquisa-ajuda {
        width: 100%;
        scale: 0.7;
    }
}