#barras-navegacao-laterais {
    position: fixed;
    z-index: 1;
    top: 9%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

#barra-esquerda, #barra-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 88%;
    width: 7%;
    transition: width 0.4s;
    pointer-events: auto;
    box-shadow: 0px 0px 25px black;
}

#barra-esquerda {
    border-left: 0;
    border-radius: 0 40px 40px 0;
}

#barra-direita {
    border-right: 0;
    border-radius: 40px 0 0 40px;
}


.opcao-barra-lateral {
    display: block;
    height: 10%;
    width: 90%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
}

.icon-barra-ltrl {
    max-width: 64px;
}

.texto-opc-lateral {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    transition: width 0.4s;
    text-align: center;
}


.botao-barra-lateral {
    font-size: 1.15rem;
    background: none;
    border: none;
    cursor: pointer;
}


#barra-esquerda:hover, #barra-direita:hover{
    width: 25%;
}

#barra-esquerda:hover .opcao-barra-lateral .texto-opc-lateral, #barra-direita:hover .opcao-barra-lateral .texto-opc-lateral {
    width: 100%;
}

.opcao-barra-lateral:hover {
    transform: scale(1.1);
    color: gainsboro;
}


@media screen and (max-width: 600px) {
    .texto-opc-lateral {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #barra-esquerda, #barra-direita {
        width: 85px;
    }
}