@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/*Configurações visuais padrões do site*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    word-wrap: break-word;
    scrollbar-color: rgba(255, 255, 255, 0.315) rgb(0, 0, 0);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}


#corpo-principal {
    min-height: 100vh;
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 8, 17);
}


/*Tipografia*/

.goldman-bold {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.goldman-regular {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;   
}


/*Preloader*/

.preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 2;
    transition: height 1s ease-in-out;
    overflow: hidden;
}

.preloader-hidden {
    height: 0px;
}

.preloader h1 {
    font-size: 8vw;
}


/* Esconder */

.hide {
    display: none;
}


/* Pop-ups */

#fundo-popup {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.527);
    backdrop-filter: blur(4px);
    z-index: 1;
    position: fixed;
    top: 0px;
    align-items: center;
    justify-content: center;
}

#corpo-popup {
    padding: 1em;
    width: 30vw;
    background: rgb(6, 1, 36);
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    justify-self: center;
    margin-top: 30vh;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    max-height: 70vh;
    border-radius: 8px;
    word-break: break-all;
}


/* Botões */


    /* Botao com fundo transparente */

.botao-fundo-transparente {
    min-height: 40px;
    min-width: 100px;
    padding: 5px;
    border-radius: 8px;
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.349);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.349);
}

.botao-fundo-transparente:hover {
    background: white;
    color: black;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.096);
}

.botao-fundo-transparente:active {
    background: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
}