

#cabecalho-perfil {
    display: grid;
    grid-template-columns: min-content 5fr min-content;
    grid-template-rows: min-content;



    
}




#foto-perfil {
    height: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100px;
    justify-self: center;
}




#infos-rapidas-perfil {
    margin: 20px 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}




#nome-perfil {
    font-size: clamp(1rem, 1rem + 1vw, 3.75rem);
    width: min-content;
}




#email-perfil {
    font-size: clamp(0.8rem, 1rem + 0.1vw, 2rem);
    width: min-content;
}




#contagens-perfil {
    margin-top: 0.5rem;
    display: flex;
    gap: 2vw;
}

.contagem {
    font-size: clamp(0.63rem, 1rem + 0.08vw, 1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}







#sessoes-perfil {
    margin: 1.8rem 0;
    display: flex;
    justify-content: space-evenly;
}

.sessao-perfil {
    padding: 0.8rem 0;
    flex: 1;
    font-size: 1rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.15s;
}

.sessao-perfil-selecionada {
    flex: 1.02;
    background: white;
    color: black;
}


.sessao-perfil:hover {
    background: rgba(0, 0, 0, 0.13);
}

.sessao-perfil-selecionada:hover {
    background: rgba(255, 255, 255, 0.904);
}






.sessao_perfil {
    min-height: 30vh;

}






.msgm-sem-conteudo-sessao {
    text-align: center;
    padding-top: 3rem;
}





/* sessao de posts */

.sessao_posts {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    gap: 2vw;
}


.post-mini {
    width: clamp(90px, 20vw, 150px);
    height: clamp(200px, 40vw, 250px);
    background: black;
    border-radius: 10px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.post-mini:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
}


.imagem-post-mini {
    max-width: 100%;
    max-height: 100%;
}





@media screen and (min-width: 750px) {
    .sessao_posts {
        padding-top: 50px;
        gap: 1.5vw;
    }
}







@media screen and (max-width: 705px) {

    #cabecalho-perfil {
        grid-template-columns: 1fr min-content;
        grid-template-rows: min-content min-content;
    }

    
    #foto-perfil {
        grid-column: 1/3;
    }


    #infos-rapidas-perfil {
        margin-left: 0;
    }
}