.bloco-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.titulo-sobre {
    padding-top: 0.5em;
}

.texto-sobre {
    width: 90%;
    overflow-wrap: break-word;
    text-indent: 20px;
}


.cards-adms-supremos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.card-adm-supremo {
    height: auto;
    width: 200px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 15px black;
}

.card-adm-supremo:hover {
    transform: translateY(-10px);
}


.adm-img {
    width: 100%;
}

.info-adm {
    padding: 5px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.3em;
}

.social-icon-adm {
    display: flex;
    justify-content: space-evenly;
}


/*icones*/

.icone-github-adm, .icone-linkedin-adm {
    width: 35px;
}

.icone-ifpb-adm {
    width: 30px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    transform: scale(0.65);
}

.bloco-icone-ifpb {
    height: 7px;
    width: 7px;
    background: white;
}

.bloco-icone-ifpb-redondo {
    border-radius: 100%;
}

.bloco-icone-ifpb-invisivel {
    background-color: rgba(0, 0, 0, 0);
}