@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/*Configurações visuais padrões do site*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    word-wrap: break-word;
    scrollbar-color: rgba(255, 255, 255, 0.315) rgb(0, 0, 0);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}


#corpo-principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 8, 17);
    padding-top: 10%;
}

.bloco-perfil {
    background-image: linear-gradient(45deg, rgb(0, 12, 65), black, rgb(0, 12, 65));
    width: 40%;
    height: 10%;
    padding: 30px;
    border-radius: 10px;
}

/*Tipografia*/

.Arial-bold {
    font-family: "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-bottom: 10px;
}

.Arial-regular {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 10px; 
}

.foto-perfil-principal {
    width: 90px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
}

.bloco {
    min-height: 40vh;
    overflow: hidden;
    word-wrap: break-word;
    padding: 1em;
    border-radius: 4px;
    color: white;
    border: 3px solid rgb(35, 35, 43);
    background-image: linear-gradient(45deg, rgb(0, 12, 65), black, rgb(0, 12, 65));
    box-shadow: 0px 0px 25px black;
}


