@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/*Configurações visuais padrões do site*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    word-wrap: break-word;
    scrollbar-color: rgba(255, 255, 255, 0.315) rgb(0, 0, 0);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}


#corpo-principal {
    min-height: 100vh;
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 8, 17);
}


/*Tipografia*/

.goldman-bold {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.goldman-regular {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;   
}


/*Preloader*/

#preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 2;
    transition: height 1s ease-in-out;
    overflow: hidden;
}

#preloader h1 {
    font-size: 8vw;
}