.linha-divisoria-sessoes {
    position: relative;
    width: 75%;
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 5em 0;
}

.linha-divisoria {
    height: 0;
    flex-grow: 1;
    border: 1.5px solid white;
    border-radius: 10px;
}

.node-divisoria {
    height: 13px;
    width: 13px;
    border: 2px solid white;
    border-radius: 100%;
}

.node-divisoria, .linha-divisoria {
    box-shadow: 0px 0px 6px white;
}


@media screen and (max-width: 700px) {
    .linha-divisoria-sessoes {
        transform: scale(0.8);
        margin: 3em 0;
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .linha-divisoria-sessoes .node-divisoria {
        transform: scale(0.6);
    }
}